/* Atom */
.apm
.node-gyp
blob-store
storage
compile-cache
packages

/* Vim */
vim/.vim/plugged

/* Tmux */
!/tmux/.tmux/plugins/tpm
tmux/.tmux/plugins

/* Ranger */
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history

error.log
