/* Atom */
.apm
.node-gyp
blob-store
storage
compile-cache
packages

/* Ranger */
ranger/.config/ranger/bookmarks
ranger/.config/ranger/tagged
ranger/.config/ranger/history
ranger/.config/ranger/plugins/__pycache__

/* Btop */
btop/.config/btop/btop.log

error.log

/* Lazygit */
lazygit/.config/lazygit/state.yml
