/* Atom */
.apm
.node-gyp
blob-store
storage
compile-cache
packages

/* Ranger */
home-manager/configs/ranger/bookmarks
home-manager/configs/ranger/tagged
home-manager/configs/ranger/history
home-manager/configs/ranger/plugins/__pycache__

/* Btop */
home-manager/configs/btop/btop.log

error.log

/* Lazygit */
home-manager/configs/lazygit/state.yml

/* ssh */
home-manager/configs/ssh/id_ed25519
