"*":
  "atom-ctags":
    autoBuildTagsWhenActive: true
    cmdArgs: "--exclude=vendor --exclude=app/cache --exclude=app/logs"
  "atom-material-ui":
    colors: {}
    tabs:
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "symbols-view"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "app/component"
      "app/cache"
      "app/logs"
      "app/custom"
      "app/common"
      "web/common"
      "web/custom"
      "web/component"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/home/maxime/Workspace"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 13
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "6e7f83a3-11c7-480f-ac55-64e3118afdcf"
  "git-diff": {}
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    charactersToAddSpaceOnSurround: [
      "{{"
    ]
    ignoreCaseForSearch: true
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 200
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 200
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
