'.platform-linux':
    'alt': 'abort!'
    'ctrl-shift-m': 'window:toggle-menu-bar'
'atom-text-editor.vim-mode-plus:not(.normal-mode)':
    'alt': 'vim-mode-plus:activate-normal-mode'
'.platform-win32, .platform-linux':
  'ctrl-k ctrl-b': 'tree-view:toggle'
'atom-text-editor':
  'ctrl-$': 'symbols-view:toggle-file-symbols'
  'alt-q': 'tree-view:toggle'
  'shift-q': 'tree-view:toggle-focus'
  # 'ctrl-£': 'symbols-view:toggle-project-symbols'
  'ctrl-$': 'symbols-view:toggle-file-symbols'
'.select-list.fuzzy-finder .editor':
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'
'.preview-pane.pane-item':
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'
'atom-text-editor.vim-mode-plus.insert-mode':
    'ctrl-$': 'custom:insert-php-object-accessor'
